.burger-content{
    position: absolute;
    width: 100vw;
    background-color: white;
    padding: 40px 0 40px 130px;
    height: 85vh;
    display: flex;
    z-index: 1000;
    border-top: 1px solid #FEC110 ; 
    
}

.burger-content__left-column{
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.burger-content__email-address-link{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #2C2C2C; 
}

.burger-content__second-address{
    margin-top: 10px;
}

.burger-content__social-network-icons{
    margin-top: 40px;
}

.burger-content__social-network-icons>img{
    margin: 0 10px 0 0;
    cursor: pointer;
}

.burger-content__right-column{
    width: 428px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-content__hr{
    color: #B6B6B6;
    margin: 20px 0;
}

.burger-content__login-to-accaunt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.burger-content__custom-h4{
    color: #2C2C2C;
}

.header__burger-content-zone{
    top: 70px;
    overflow: auto;
    height: 100vh;
}

.burger-content-tablet{
    display: none;
    top: 60px;
    padding: 35px 52px 87px 53px;
    background-color: white;
    flex-direction: column;
    overflow: auto;
}

.burger-content-tablet ul{
    padding-left: 0;
}

.burger-content-tablet__links{
    display: flex;
    width: 100%;
}

.burger-content-tablet__first-column{
    width: 50%;
}

.burger-content-tablet__links>ul>li{
    list-style-type: none;
    margin-bottom: 20px;
}

.burger-content-tablet__links>ul>li>a{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}

.burger-content-tablet__hr{
    margin: 0;
    color: #B6B6B6;
}

.burger-content-tablet__services-h3{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #989898;
    margin-top: 10px;
    margin-bottom: 20px;
}

.burger-content-tablet__services-block{
    display: flex;
}

.burger-content-tablet__services-block>ul>li {
    list-style-type: none;
    margin-bottom: 12px;
}

.burger-content-tablet__services-block>ul>li>a {
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2C2C2C;
}

.burger-content-tablet__login-to-accaunt{
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.burger-content-tablet__custom-h4{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}

.burger-content-tablet__phone-numb{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #FEC110;
    margin-bottom: 10px;
}

.burger-content-tablet__mail-address{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #2C2C2C;
    margin-bottom: 10px;
}

.burger-content-tablet__work-for-us{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
    margin-bottom: 20px;
}

.burger-content-tablet__addresses{
    display: flex;
    justify-content: space-between;
}

.burger-content-tablet__first-address{
    width: 50%;
}

.burger-content-tablet__first-address-name{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C2C2C;
}

.burger-content-tablet__first-address-value{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
}

.burger-content-tablet__socila-icon{
    margin-right: 10px;
}

.burger-content-tablet__desktop-link{
    margin-top: 10px;
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2C2C2C;
}