.expand-navigation{
    top: 70px;
    height: 225px;
    width: 100vw;
    position: absolute;
    background-color: white;
    border-top: 1px solid #FEC110 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;  
    z-index: 2000;
    
}

.expand-navigation__links>a{
    text-decoration: none;
    cursor: pointer;
    font-family: Arial Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2C2C2C;
}

.expand-navigation-false{
    display: none;  
}

.expand-navigation-visuallyhidden {  
    opacity: 0;  
}
