.header{
    height: 70px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-left: 130px;
    cursor: pointer;
}

.header__favicon{
    border-radius: 2em;
    background-color: #FEC110;
    margin-right: 10px;
}

.header__content{
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.header__content>nav{
    height: 70px;
    display: flex;
    align-items: center;
    border-right: 1px solid #EEECEC;
}

.header__nav-links{
    display: flex;
    margin-bottom: 0;
    height: 70px;
    align-items: center
}

.header__nav-links>LI{
    list-style-type: none;
    margin-right: 40px;
}

.header__services-link{
    height: 70px;
    display: flex;
    align-items: center;
}

.header__nav-links:first-child{
    cursor: pointer;
}

.header__nav-links>LI>A{
    text-decoration: none;
    font-family: Arial Nova;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2C2C2C;
}

.header__dropdawn-icon{
    margin-left: 10px;
    height: 5px;
    width: 10px;
    //background: url('../../UI Kit/Icons/Dropdawn.svg');
}

.header__burger{
    margin: 0 23px 0;
    cursor: pointer;
}

.header__signing-service-btn{
    background-color: #FEC110;
    border-radius: 7px;
    padding: 12px 20px;
    border: none;
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 125%;
    color: #2C2C2C;
    transition: all 1s ease;
}

.header__signing-service-btn-active{
    //padding: 50px 72.5px;
    height: 120px;
    width: 276px;
    border-radius: 0;
    border: none;
    margin-right: -130px;
    position: relative;
    z-index: 1001;
    overflow: hidden;
}

.header__burger-content-zone{
    top: 0;
    width: 100vw;
    position: absolute;
    opacity: 100;  
    //display: flex;
    //flex-direction: column;
    
}

.header__grey-zone{
    position: absolute;
    top: 85vh;
    height: 336px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65); 
}

.header__burger-content-zone-false{
    display: none;  
}

.header__burger-content-zone-visuallyhidden {  
    opacity: 0;  
}