.main-section{
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    min-height: 650px;
    height: 100vh;
   
    max-width: 100vw;
    overflow: hidden;
}

.main-section__billboard{
    margin-top: 70px;
    padding: 80px 40px 60px 130px;
    width: 820px;
    background-color: #313232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 600;
}

.main-section__header{
    font-family: 'Arial Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main-section__numb-of-phone{
    margin-bottom: 60px;
}

.main-section__contact-and-address-info{
    margin-bottom: 10px;
}

.main-section__contact-and-address-info>p{
    margin: 0;
}

.main-section__contact-and-address-info>p:nth-child(2n){
    color: white;
}

.main-section__view-services-btn{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 15px;
    background: #FEC110;
    border-radius: 7px;
}

.main-section__slider{
    width: 100%;
    margin-top: 70px;
}

.main-section__slider-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    background-color: #313232;
}

.main-section__slider-imgs-div{
    display: flex;
    flex-direction: row;
    height: 100%;
    filter: brightness(0.8);
}

.main-section__slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: relative;
    z-index: 500;    
    order: 2;
}

.slider-img-active{
    display: block;
    
}

.main-section__slider-arrows-div{
    margin-top: -110px;
}

.main-section__slider-arrow-left{
    cursor: pointer;
    margin: 0 5px 0 40px;
    position: relative;
    z-index: 700;
}

.main-section__slider-arrow-right{
    cursor: pointer;
    position: relative;
    z-index: 700;
}

/*
#carouselExampleIndicators{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    z-index: -1;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.d-block{
    object-fit: cover;
    height: 100%;
}

.carousel-control-prev{
    position: absolute;
    z-index: 500;
}

.carousel-control-prev>img{
    height: 40px;
    width: 40px;
    margin-bottom: 40px;
    background-image: url('./UI Kit/Icons/CaruselBtnLeft.svg')
    

}

.abrakadabra{
    height: 40px;
    width: 40px;
    position: relative;
    z-index: 500;
    top: 0;

}

@media screen {
    
}*/