@font-face {
  font-family: "Arial Nova";
  src: local("Arial Nova Light"), local("Arial-Nova-Light"), url("../../UI Kit/Fonts/ArialNova-Light.woff2") format("woff2"), url("../../UI Kit/Fonts/ArialNova-Light.woff") format("woff"), url("../../UI Kit/Fonts/ArialNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.text-decoration-off {
  text-decoration: none;
}

.desctopHeadline-0 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 90%;
  letter-spacing: -0.04em;
  color: #FEC110;
}

.desctopHeadline-1 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #FEC110;
}

.desctopHeadline-3 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #FEC110;
  margin-bottom: 10px;
}

.desctopHeadline-4 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #989898;
}

.desctopLink {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  margin: 10px 0;
  cursor: pointer;
}

.desctopButton {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #2C2C2C;
  margin-bottom: 0;
}

.desctopDescription {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  word-wrap: break-word;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2C2C2C;
}

.desctopText-1 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #989898;
}

.desctopText-2 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #989898;
  margin-bottom: 0;
}

.desctopText-3 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C2C2C;
  margin-bottom: 0;
}

.header {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 130px;
  cursor: pointer;
}

.header__favicon {
  border-radius: 2em;
  background-color: #FEC110;
  margin-right: 10px;
}

.header__content {
  display: flex;
  align-items: center;
  padding-right: 130px;
}

.header__content > nav {
  height: 70px;
  display: flex;
  align-items: center;
  border-right: 1px solid #EEECEC;
}

.header__nav-links {
  display: flex;
  margin-bottom: 0;
  height: 70px;
  align-items: center;
}

.header__nav-links > LI {
  list-style-type: none;
  margin-right: 40px;
}

.header__services-link {
  height: 70px;
  display: flex;
  align-items: center;
}

.header__nav-links:first-child {
  cursor: pointer;
}

.header__nav-links > LI > A {
  text-decoration: none;
  font-family: Arial Nova;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
}

.header__dropdawn-icon {
  margin-left: 10px;
  height: 5px;
  width: 10px;
}

.header__burger {
  margin: 0 23px 0;
  cursor: pointer;
}

.header__signing-service-btn {
  position: relative;
  background-color: #FEC110;
  border-radius: 7px;
  padding: 12px 20px;
  border: none;
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 125%;
  color: #2C2C2C;
  z-index: 2000;
}

.header__signing-service-btn-active {
  height: 120px;
  width: 276px;
  border-radius: 0;
  margin-right: -130px;
  position: relative;
  z-index: 1001;
  overflow: hidden;
}

.header__burger-content-zone {
  top: 0;
  width: 100vw;
  position: absolute;
  opacity: 100;
  transition: all 0.3s linear;
}

.header__grey-zone {
  position: absolute;
  top: 85vh;
  height: 336px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.65);
}

.header__burger-content-zone-false {
  display: none;
}

.header__burger-content-zone-visuallyhidden {
  opacity: 0;
}

.burger-content {
  position: absolute;
  width: 100vw;
  background-color: white;
  padding: 40px 0 40px 130px;
  height: 85vh;
  display: flex;
  z-index: 1000;
  border-top: 1px solid #FEC110;
}

.burger-content__left-column {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.burger-content__email-address-link {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-decoration-line: underline;
  color: #2C2C2C;
}

.burger-content__second-address {
  margin-top: 10px;
}

.burger-content__social-network-icons {
  margin-top: 40px;
}

.burger-content__social-network-icons > img {
  margin: 0 10px 0 0;
  cursor: pointer;
}

.burger-content__right-column {
  width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-content__hr {
  color: #B6B6B6;
  margin: 20px 0;
}

.burger-content__login-to-accaunt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.burger-content__custom-h4 {
  color: #2C2C2C;
}

.header__burger-content-zone {
  top: 70px;
  overflow: auto;
  height: 100vh;
}

.burger-content-tablet {
  display: none;
  top: 60px;
  padding: 35px 52px 87px 53px;
  background-color: white;
  flex-direction: column;
  overflow: auto;
}

.burger-content-tablet ul {
  padding-left: 0;
}

.burger-content-tablet__links {
  display: flex;
  width: 100%;
}

.burger-content-tablet__first-column {
  width: 50%;
}

.burger-content-tablet__links > ul > li {
  list-style-type: none;
  margin-bottom: 20px;
}

.burger-content-tablet__links > ul > li > a {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #2C2C2C;
}

.burger-content-tablet__hr {
  margin: 0;
  color: #B6B6B6;
}

.burger-content-tablet__services-h3 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #989898;
  margin-top: 10px;
  margin-bottom: 20px;
}

.burger-content-tablet__services-block {
  display: flex;
}

.burger-content-tablet__services-block > ul > li {
  list-style-type: none;
  margin-bottom: 12px;
}

.burger-content-tablet__services-block > ul > li > a {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
}

.burger-content-tablet__login-to-accaunt {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.burger-content-tablet__custom-h4 {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-align: right;
  letter-spacing: -0.01em;
  color: #2C2C2C;
}

.burger-content-tablet__phone-numb {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FEC110;
  margin-bottom: 10px;
}

.burger-content-tablet__mail-address {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-decoration-line: underline;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.burger-content-tablet__work-for-us {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #989898;
  margin-bottom: 20px;
}

.burger-content-tablet__addresses {
  display: flex;
  justify-content: space-between;
}

.burger-content-tablet__first-address {
  width: 50%;
}

.burger-content-tablet__first-address-name {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 200%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C2C2C;
}

.burger-content-tablet__first-address-value {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #989898;
}

.burger-content-tablet__socila-icon {
  margin-right: 10px;
}

.burger-content-tablet__desktop-link {
  margin-top: 10px;
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
}

.expand-navigation {
  top: 70px;
  height: 225px;
  width: 100vw;
  position: absolute;
  background-color: white;
  border-top: 1px solid #FEC110;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  z-index: 2000;
}

.expand-navigation__links > a {
  text-decoration: none;
  cursor: pointer;
  font-family: Arial Nova;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #2C2C2C;
}

.expand-navigation-false {
  display: none;
}

.expand-navigation-visuallyhidden {
  opacity: 0;
}

.main-section {
  display: flex;
  flex-direction: row;
  margin-top: -70px;
  min-height: 650px;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.main-section__billboard {
  margin-top: 70px;
  padding: 80px 40px 60px 130px;
  width: 820px;
  background-color: #313232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 600;
}

.main-section__header {
  font-family: "Arial Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.main-section__numb-of-phone {
  margin-bottom: 60px;
}

.main-section__contact-and-address-info {
  margin-bottom: 10px;
}

.main-section__contact-and-address-info > p {
  margin: 0;
}

.main-section__contact-and-address-info > p:nth-child(2n) {
  color: white;
}

.main-section__view-services-btn {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 15px;
  background: #FEC110;
  border-radius: 7px;
}

.main-section__slider {
  width: 100%;
  margin-top: 70px;
}

.main-section__slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #313232;
}

.main-section__slider-imgs-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  filter: brightness(0.8);
}

.main-section__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: relative;
  z-index: 500;
  order: 2;
}

.slider-img-active {
  display: block;
}

.main-section__slider-arrows-div {
  margin-top: -110px;
}

.main-section__slider-arrow-left {
  cursor: pointer;
  margin: 0 5px 0 40px;
  position: relative;
  z-index: 700;
}

.main-section__slider-arrow-right {
  cursor: pointer;
  position: relative;
  z-index: 700;
}

/*
#carouselExampleIndicators{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    z-index: -1;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.d-block{
    object-fit: cover;
    height: 100%;
}

.carousel-control-prev{
    position: absolute;
    z-index: 500;
}

.carousel-control-prev>img{
    height: 40px;
    width: 40px;
    margin-bottom: 40px;
    background-image: url('./UI Kit/Icons/CaruselBtnLeft.svg')


}

.abrakadabra{
    height: 40px;
    width: 40px;
    position: relative;
    z-index: 500;
    top: 0;

}

@media screen {

}*/
.second-section {
  padding: 180px 130px;
  background-color: #E4E4E4;
}

.second-section__under-hr-text-block {
  margin: 10px 0 60px;
  display: flex;
  justify-content: space-between;
}

.second-section__custom-desctop-text-1 {
  color: #989898;
}

.second-section__years-of-work-div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 180px;
}

.second-section__number-of-years-header {
  width: 650px;
  margin-right: 40px;
}

.second-section__few-words-paragraph {
  max-width: 650px;
}

.second-section__custom-desctop-headline-1 {
  color: #2C2C2C;
  margin-bottom: 60px;
}

.second-section__cards-place {
  display: flex;
  justify-content: space-between;
  margin-right: -40px;
}

.second-section__card {
  min-width: 400px;
  max-width: 650px;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: white;
  cursor: pointer;
}

.second-section__card:hover {
  background-color: #FEC110;
}

.second-section__card {
  transition: background-color 0.3s linear;
}

.second-section__card-img {
  width: 100%;
  object-fit: cover;
}

.second-section__card-more-info-area {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  transition: all 0.3s linear;
}

.second-section__card:hover .second-section__card-more-info-area div h4:nth-child(2) {
  color: white;
}

.second-section__card-more-info-area div h4:nth-child(2) {
  transition: color 0.3s linear;
}

.second-section__card:hover .second-section__card-more-info-area > svg circle {
  fill: #313232;
}

.second-section__card:hover .second-section__card-more-info-area > svg path {
  stroke: white;
}

.second-section__card-more-info-area > svg circle {
  transition: fill 0.3s linear;
}

.second-section__card-more-info-area > svg path {
  transition: stroke 0.3s linear;
}

.second-section__custom-desctop-headline-4 {
  color: #2C2C2C;
}

@media screen and (max-width: 1283px) and (min-width: 745px) {
  .header__content {
    padding-right: 100px;
  }

  .header__nav-links > LI {
    margin-right: 10px;
  }

  .main-section__billboard {
    padding: 80px 40px 60px 60px;
  }
}
@media screen and (max-width: 1073px) and (min-width: 745px) {
  .header__logo {
    margin-left: 52px;
  }
}
@media screen and (max-width: 995px) and (min-width: 745px) {
  .header__logo {
    margin-left: 10px;
  }

  .header__content {
    padding-right: 10px;
  }

  .second-section__card {
    min-width: 250px;
  }

  .main-section__billboard {
    padding: 80px 20px 60px 20px;
  }

  .header__nav-links > LI {
    margin-right: 5px;
  }
}
@media screen and (max-width: 744px) and (min-width: 376px) {
  .header {
    height: 60px;
  }

  .header__logo {
    margin-left: 52px;
  }

  .header__content {
    padding-right: 24px;
  }

  .header__content > nav {
    display: none;
  }

  .header__burger-btn-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .burger-content {
    top: 60px;
    padding: 35px 52px 87px 52px;
  }

  .main-section {
    flex-direction: column;
    height: auto;
  }

  .main-section__billboard {
    margin-top: 60px;
    padding: 60px 52px;
    height: 100vh;
    width: auto;
  }

  .main-section__header {
    font-family: "Arial Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 95%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .desctopHeadline-1 {
    font-family: "Arial Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 95%;
    letter-spacing: -0.02em;
    color: #FEC110;
    margin-bottom: 40px;
  }

  .main-section__contact-and-address-info {
    margin-bottom: 14px;
  }

  .main-section__slider {
    margin-top: 0;
    height: 100vh;
  }

  .main-section__slider-arrow-left {
    margin: 0 5px 40px 40px;
  }

  .main-section__slider-arrow-right {
    margin-bottom: 40px;
  }

  .second-section {
    padding: 120px 52px;
  }

  .second-section__years-of-work-div {
    flex-direction: column;
    margin-bottom: 120px;
  }

  .second-section__number-of-years-header {
    width: auto;
  }

  .desctopHeadline-0 {
    font-family: "Arial Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 90%;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }

  .desctopDescription {
    font-family: "Arial Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
  }

  .second-section__custom-desctop-headline-1 {
    font-family: "Arial Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 95%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
  }

  .second-section__card {
    min-width: 0;
    max-width: 310px;
    margin-right: 20px;
    height: 352px;
  }

  .second-section__card-img {
    height: 268px;
  }

  .second-section__card-more-info-area {
    padding: 20px;
  }
}
@media screen and (max-width: 623px) and (min-width: 376px) {
  .second-section__card {
    height: 390px;
  }
}
@media screen and (max-width: 470px) and (min-width: 376px) {
  .header__logo {
    margin-left: 10px;
  }

  .header__signing-service-btn {
    padding: 6px 10px;
  }

  .header__content {
    padding-right: 0;
  }

  .main-section__billboard {
    padding: 40px 20px;
  }

  .second-section {
    padding: 100px 20px;
  }

  .main-section__header {
    font-size: 36px;
  }

  .second-section__cards-place {
    margin-right: -20px;
  }

  .second-section__card-more-info-area {
    padding: 5px;
  }

  .second-section__custom-desctop-headline-4 {
    font-size: 16px;
  }

  .second-section__card {
    margin-right: 20px;
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
